*{background-color: black;}

.container {
    position: fixed;
    margin: 20px;
    width: auto;
    color: gray;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: rgb(39, 53, 170);
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(128, 128, 128);
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


h1 {
    color: white;
    font-family: 'Shizuru', cursive;
    font-weight:700;
    font-size: 100px;
    text-align: center;
    border-radius: 3px;
    background-image: url('https://1.bp.blogspot.com/-4vf9OVikxC8/XFUltIbso7I/AAAAAAAABz0/JVXPiIhLnbA3tfwA29H1pqJlbXvX39fEwCKgBGAs/w0/snow-mountainer-night-sky-stars-scenery-31-4K.jpg');
    padding: 100px
}

p, h2 { 
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: justify;
    background-color: black;
}

.whatILike {
    color:rgb(4, 211, 194);
    font-size: 30px;
    border: 1px solid color blue;
}
.familyh2 {
    font-size: 50px;
}
.familyp {
    font-size: 30px;

}

.thingsILike {
     color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: justify;
    background-color: black;
}